.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
.DS_Store
1b27c809c54a7e55566632d004c5039a1099f3037756c3d4800e645a2eb6b4ab.png
.git/**
